<style>    
    header {
        display:none !important;
    }
</style>
<main role="main" id="content" class="container-fluid">
    <div class="container mb-3 filter-buttons-container">
       
        <div class="vertical-center">
            <div class="row">
                <div class="button-flex">
                    <img src="~/assets/UI/UI_Logo_L.png" />
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="button-flex">
                    <a asp-action="search" asp-controller="browse" class="btn-primary"><span>SEARCH</span></a>

                    <a asp-action="filter" asp-controller="browse" class="btn-primary"><span>BROWSE</span></a>
                </div>
            </div>
            <div class="row">
                <div class="button-flex">
                    <img src="~/assets/UI/UI_Logo_Play.png" class="animate-rotate" />
                </div>
            </div>
        </div>
       
    </div>

</main>

