@model System.String


    <div class="text-center light-blue-bg p-2 full-width-title">
        <div class="border-spacer"></div>
        <h1 class="titling">@Model</h1>
        <div class="border-spacer"></div>
    </div>