<main role="main" id="content" class="container-fluid">
    <div class="container mb-3 filter-buttons-container">
        
        <div class="row" style="margin-top:20px;">
            <div class="button-flex">
                <a asp-action="search" asp-controller="browse" class="btn-primary"><span>SEARCH</span></a>

                <a asp-action="filter" asp-controller="browse" class="btn-primary"><span>BROWSE</span></a>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</main>

